filecsvtojson123/target/classes/filecsvtojson.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <db:oracle-config name="Oracle_Configuration" host="10.211.81.201" port="1521" instance="CAP12C" user="EAI_TEST" password="welcome1" doc:name="Oracle Configuration"/>
    <flow name="filecsvtojsonFlow">
        <file:inbound-endpoint path="src/main/resources/input" moveToDirectory="src/main/resources/processed" responseTimeout="10000" metadata:id="41ac3bb7-65ec-470c-a3d6-b26f3a92ffa3" doc:name="File"/>
        <set-variable variableName="starttime" value="#[server.nanoTime()]" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {


	"Billing Street": payload01."Billing Street",
	"Billing City": payload01."Billing City",
	"Billing Country": payload01."Billing Country",
	"Billing State": payload01."Billing State",
	"Name": payload01.Name,
	"BillinPostalCode": payload01.BillingPostalCode 
})]]></dw:set-payload>
        </dw:transform-message>

        <file:outbound-endpoint path="src/main/resources/output" outputPattern="#[message.inboundProperties.originalFilename + &quot;_success&quot;].backup" responseTimeout="10000" doc:name="File"/>
        <set-variable variableName="endtime" value="#[server.nanoTime()]" doc:name="Variable"/>


    </flow>
</mule>
